[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
cerberus = "*"
redis = "*"
bcrypt = "*"
pyjwt = "*"
shortuuid = "*"
dnslib = "*"
gunicorn = "*"
click = "*"
cryptography = "*"
redisco = {editable = true,path = "./thirdparty/redisco"}

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
